
<div class="container">
  <div class="filters">
    <a class="button">Heads</a>
    <a class="button">Arms</a>
    <a class="button">Torsos</a>
    <a class="button">Bases</a>
    <a class="button">All</a>
  </div>



  <!-- A single list where a product should be displayed
     Let's wire this up to list item to show a single product
    -->
  <ul class="products">
    <li class="product-item">
      <div class="product">
        <!-- This is where we want to display product details
         for now we will use interpolation
          -->
        <div class="product-details">
          <img src="" alt="" />
          <div class="product-info">
            <div class="name">{{product.name}}</div>
            <div class="description">{{product.description}}</div>
            <div class="category">Part Type: {{product.category}} </div>
          </div>
        </div>
        <div class="price">
          <div>${{product.price.toFixed(2)}}</div>
          <button class="cta">Buy</button>
        </div>
      </div>
    </li>
  </ul>
</div>
